<!DOCTYPE html>
<html lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <div class="logobusquedacompra">
        <div class="logobusqueda">
<div>
    <div class="logomercado">
    <img width="320" src="images/logo-mercado-liebre.svg">
</div>
</div>
<div class="busqueda">
<input type="text" placeholder="Buscar productos, marcas">
</div>
</div>
<p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y tarjeta de crédito</p>
</div>
<nav>
    <ul class="menucompras">
        <li><a href="*">Ofertas</a></li>
        <li><a href="*">Tiendas Oficiales</a></li>
        <li><a href="*">Vender</a></li>
        <li><a href="*">Ayuda</a></li>
    </ul>
    <ul class="menulogin">
        <li><a href="/register">Creá tu cuenta</a><i class="far fa-address-card"></i></li>
        <li><a href="/ingresa">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
        <li><a href="*">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
    </ul>
    <div class="burger-menu-cont">
    <div class="burger-menu">
        <i class="fas fa-bars"></i>
        </div>
    </div>
</nav>

    </header>
    <div class="banner">
        <img width="100%" src="images/img-home-banner.jpg">
    </div>
    <div class="fondo">
    <main>
    <section>
        <h3 class="titulares">Basado en tu última visita</h3>
        <div class="articulos">
<article>    
<img width="320" src="images/img-cafetera-moulinex.jpg">
<div class="descripcion">
    <div class="envio">
    <i class="fas fa-truck"></i>
</div>
<div class="preciofinal">
<p class="precios">$6.770</p>
<p class="descuentos">40% off</p>
</div>
<div class="descripcionn">
<h4 class="descripcion">Cafetera Moulinex</h4>
</div>
</div>
</article>
<article>
    <img width="320" src="images/img-macbook-pro-2019.jpg">
    <div class="descripcion">
        <div class="envio">
            <i class="fas fa-truck"></i>
        </div>
        <div class="preciofinal">
<p class="precios">$230.000</p>
<p class="descuentos">20% off</p>
</div>
<h4 class="descripcion">MacBook Pro 2019</h4>
</div>
</article>
<article>
    <img width="320" src="images/img-samsung-galaxy-s10.jpg">
    <div class="descripcion">
        <div class="envio">
            <i class="fas fa-truck"></i>
        </div>
        <div class="preciofinal">
<p class="precios">$70.500</p>
<p class="descuentos">10% off</p>
</div>
<h4 class="descripcion">Samsung Galaxy S10</h4>
</div>
</article>
<article>
    <img width="320" src="images/img-tv-samsung-smart.jpg">
    <div class="descripcion">
        <div class="envio">
            <i class="fas fa-truck"></i>
        </div>
        <div class="preciofinal">
<p class="precios">$23.200</p>
<p class="descuentos">5% off</p>
</div>
<h4 class="descripcion">Smart TV Samsung 43"</h4>
</div>
</article>
</div>
        
    </section>
    <section>
<h3 class="titulares">Sección de ofertas</h3>
<div class="articulos">
<article>
    <img width="320" src="images/img-cafetera-moulinex.jpg">
    <div class="descripcion">
        <div class="envio">
            <i class="fas fa-truck"></i>
        </div>
        <div class="preciofinal">
    <p class="precios">$6.770</p>
    <p class="descuentos">40% off</p>
</div>
    <h4 class="descripcion">Cafetera Moulinex</h4>
</div>
    </article>
    <article>
        <img width="320" src="images/img-macbook-pro-2019.jpg">
        <div class="descripcion">
            <div class="envio">
                <i class="fas fa-truck"></i>
            </div>
            <div class="preciofinal">
    <p class="precios">$230.000</p>
    <p class="descuentos">20% off</p>
            </div>
    <h4 class="descripcion">MacBook Pro 2019</h4>
</div>
    </article>
    <article>
        <img width="320" src="images/img-samsung-galaxy-s10.jpg">
        <div class="descripcion">
            <div class="envio">
                <i class="fas fa-truck"></i>
            </div>
            <div class="preciofinal">
                <p class="precios">$70.500</p>
                <p class="descuentos">10% off</p>
            </div>
    <h4 class="descripcion">Samsung Galaxy S10</h4>
</div>
    </article>
    <article>
        <img width="320" src="images/img-tv-samsung-smart.jpg">
        <div class="descripcion">
            <div class="envio">
                <i class="fas fa-truck"></i>
            </div>
            <div class="preciofinal">
    <p class="precios">$23.200</p>
    <p class="descuentos">5% off</p>
            </div>
    <h4 class="descripcion">Smart TV Samsung 43"</h4>
</div>
    </article>
</div>


    </section>
</main>
<footer>
<section>
    <div class= "credit">
    <i class="fas fa-credit-card"></i>
</div>
    <h3>Pagá con tarjeta o efectivo</h3>
    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
        puntos de pago. ¡Y siempre es seguro!</p>
</section>
<section>
    <div class= "credit">
        <i class="fas fa-gift"></i>
    </div>
    <h3>Envío gratis desde $ 2.500</h3>
    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
        productos. Es un beneficio de Mercado Puntos.
        </p>
</section>
<section>
    <div class= "credit">
        <i class="fas fa-user-shield"></i>
    </div>
    <h3>Seguridad, de principio a fin</h3>
    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
        porque estás siempre protegid@.
        </p>
</section>
<section>
    <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
</section>

</footer>
</div>
    
</body>
</html>