<!DOCTYPE html>
<html lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="logobusquedacompra">
        <div class="logobusqueda">
<div>
    <div class="logomercado">
    <img width="320" src="images/logo-mercado-liebre.svg">
</div>
</div>
<div class="busqueda">
<input type="text" placeholder="Buscar productos, marcas">
</div>
</div>
<p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y tarjeta de crédito</p>
</div>
<nav>
    <div class="navegacion">
        <ul type="none" class="menucompras">
            <li><a style="color:black" href="*">Ofertas</a></li>
            <li><a style="color:black" href="*">Tiendas Oficiales</a></li>
            <li><a style="color:black" href="*">Vender</a></li>
            <li><a style="color:black" href="*">Ayuda</a></li>
        </ul>
        <ul type="none" class="menulogin">
            <li><a style="color:black" href="/register">Creá tu cuenta</a><i class="far fa-address-card"></i></li>
            <li><a style="color:black" href="/ingresa">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
            <li><a style="color:black" href="*">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
        </ul>
</div>
    <div class="burger-menu-cont">
    <div class="burger-menu">
        <i class="fas fa-bars"></i>
        </div>
    </div>
</nav>

    </header>
    <div class="banner">
        <img width="100%" src="images/img-home-banner.jpg">
    </div>
    <div class="fondo">
    <form action="/register.html" method="post">
        <div>
        <label for="nombre">nombre y apellido:</label>
            <input type="text" name="nombre" required>
        </div>
        <div>
        <label for="usuari@">Nombre de usuari@</label>
            <input type="text" name="usuari@" required>
        </div>
        <div>
        <label for="fecha">Fecha de cumpleaños</label>    
            <input type="date" name="fecha" required>
        </div>
        <div>
        <label for="domicilio">Domicilio</label>
            <input type="text" name="domicilio" required>
        </div>
        <div>
        <label for="perfil">Queres comprar o vender?</label>
            <input type="radio" name="perfil" value="Comprar">
            <input type="radio" name="perfil" value="Vender">   
        </div>    
        <div>
        <label for="categorias">Categorias de interes</label>
            <input type="checkbox" name="categorias" value="Electro">
            <label for="categorias">Electro</label>
            <input type="checkbox" name="categorias" value="Moda">
            <label for="categorias">Moda</label>
            <input type="checkbox" name="categorias" value="Hogar">
            <label for="categorias">Hogar</label>
            <input type="checkbox" name="categorias" value="Jugueteria">
            <label for="categorias">Jugueteria</label>
            <input type="checkbox" name="categorias" value="Vida sana">
            <label for="categorias">Vida sana</label>
        </div>
        <div>
        <label for="avatar">Selecciona una foto de perfil:</label>
            <input type="file" name="avatar" accept=".jpg" multiple>
        </div>
        <div>
        <label for="password">Contraseña</label>
            <input type="password" name="password" required>
        </div>
        <div>
            <label for="password">Confirmar contraseña</label>
                <input type="password" name="password" required>
        </div>
        <div>
            <button type="reset">Cancelar</button>
            <button type="submit">Enviar</button>
        </div>
        
    </form>
    
</body>
</html>